:root {
  --primary-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background: var(--white-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.header__logo {
  margin-right: 93px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-left: auto;
  }
}

.logo__span {
  color: var(--title-text-color);
}

.header__container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.menu {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.menu__item:nth-child(n+2) {
  margin-left: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-text-color);
}

.menu__link--curent {
  color: var(--accent-text-color);
}
.menu__link--curent::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-text-color);
}

.connect {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    margin-right: auto;
    display: flex;
  }
  .connect__item + .connect__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .connect__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .connect__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item {
    margin-top: 20px;
  }
}

.connect__link {
  display: flex;
  align-items: center;
  color: var(--paragraph-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-text-color);
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
}
.connect__icon:hover, .connect__icon:focus {
  fill: var(--accent-text-color);
}

.mob-menu__open-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob-menu__open-btn {
    display: none;
  }
}

.mob-menu__open-icon {
  fill: var(--title-text-color);
}
.mob-menu__open-icon:hover, .mob-menu__open-icon:focus {
  fill: var(--accent-text-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-text-color);
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 10;
}
.mob-menu .mob-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob-menu__close-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  fill: var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob_menu__item {
  margin-bottom: 32px;
}

.mob_menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob_menu__link:hover, .mob_menu__link:focus {
  color: var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob_menu__link--curent {
  color: var(--accent-text-color);
}

.connection {
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mob-connect__link--change-style {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

.mob-soc__item {
  display: inline;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.separator {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.no-scroll {
  overflow: hidden;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6px;
  }
}

.hero {
  position: relative;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-mob.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-mobX2.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-tabletX2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-desktop.jpg");
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg/bg-hero-desktopX2.jpg");
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  transition-duration: 250ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: #2196f3;
  cursor: pointer;
  color: var(--white-text-color);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 250ms;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 609px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__space--F {
  margin-bottom: 12px;
}

.form-field__space--L {
  margin-bottom: 20px;
}

.form-field__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  margin-bottom: 4px;
}

.form-position {
  position: relative;
}

.form-position__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: none;
}
.form-position__input:hover, .form-position__input:focus {
  border: 1px solid var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-position__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--title-text-color);
}

.form-position__input:hover + .form-position__icon,
.form-position__input:focus + .form-position__icon {
  fill: var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  outline: none;
}
.textarea:hover, .textarea:focus {
  border: 1px solid var(--accent-text-color);
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.check-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-field__agreement {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
@media screen and (min-width: 1200px) {
  .check-field__agreement {
    font-size: 14px;
  }
}

.check-field__agreement--two {
  display: inline-block;
  color: var(--accent-text-color);
  text-decoration: underline;
}

.check-field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-field__checkbox:checked + .check-field__label {
  border-color: transparent;
  background-color: var(--accent-text-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.check-field__label {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-field__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 55px;
  display: block;
  margin: 30px auto auto auto;
}
.check-field__btn:hover, .check-field__btn:focus {
  background: #188CE8;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
.features__item:nth-child(n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(25% - 30px);
  }
}

.features__box {
  display: flex;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.section--no-pading-top {
  padding-top: 0;
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .section--no-pading-top {
    display: none;
  }
}

.service {
  display: flex;
  align-items: center;
}

.service__item {
  position: relative;
}
.service__item:nth-child(n+2) {
  margin-left: 30px;
}

.service__direction {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.section--other-background {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-cards__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-cards__item {
    width: calc(50% - 30px);
  }
  .team-cards__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .team-cards__item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-cards__item {
    width: calc(25% - 30px);
  }
  .team-cards__item:nth-child(n+1) {
    margin-bottom: 0;
  }
  .team-cards__item:not(:first-child) {
    margin-left: 30px;
  }
}

.team-cards__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-cards__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-cards__text {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  margin-bottom: 16px;
}

.soc {
  display: flex;
  justify-content: center;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-duration: 250ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.soc__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
  }
}

.client__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.client__item:hover, .client__item:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(25% - 30px);
    margin-bottom: 0;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  width: 100%;
  height: 92px;
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
  }
}

.footer__tablet {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__tablet {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    flex-direction: row;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__box {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 0px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo--revers {
  color: var(--white-text-color);
}

.address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0px;
  }
}

.address__item {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__item:nth-child(-n+2) {
  margin-bottom: 8px;
}

.address__address {
  color: var(--white-text-color);
  text-decoration: none;
}

.address__email,
.address__tel {
  text-decoration: none;
  color: var(--primary-text-color);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__social {
    margin: 0;
  }
  .footer__social .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    display: block;
    margin-left: 70px;
    margin-right: 93px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.social__icon {
  fill: var(--white-text-color);
  width: 20px;
  height: 20px;
}

.subscribe {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: block;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .subs-form {
    display: flex;
  }
}
.subs-form__mail {
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .subs-form__mail {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subs-form__mail {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subs-form__mail {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subs-form__btn {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .subs-form__btn {
    margin: 0;
  }
}

.subs-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-text-color);
}

.subscribe ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__list.mob-margin {
  margin-left: 8px;
}
.filters__list:nth-last-child(n+3) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filters__list:nth-last-child(n+3) {
    margin-bottom: 0px;
  }
  .filters__list:not(:first-child) {
    margin-left: 8px;
  }
}

.filters__btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background: #2196f3;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .projects {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects__item {
  background: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .cover-wrap__cover-text, .projects__link:focus .cover-wrap__cover-text {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-wrap__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background: rgba(33, 150, 243, 0.9);
}

.content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.content__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}/*# sourceMappingURL=main.css.map */