
.subscribe{
  display: flex;
  @media screen and (max-width:1199px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  @media screen and (min-width:1200px) {
    display:block;
    align-items: baseline;
  }
}
@media screen and (min-width:1200px) {
  .subs-form {
      display: flex;
      
    }
}

.subs-form__mail {
  height: 50px;
  
  margin-bottom: 20px;
  padding-left: 16px;
  
  @media screen and (max-width:767px){
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: rgba(47, 48, 58, 1);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  
       
  @media screen and (min-width:768px) {
    
      min-width: 450px;
    }
  
  @media screen and (min-width:1200px) {
      min-width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
}

.subs-form__btn {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 28px;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;
  @media screen and (min-width:1200px) {
      margin: 0;
    }
}

.subs-form__icon {
  width: 24px;
  height: 24px;

  margin-left: 10px;

  fill: var(--white-text-color);
}

.subscribe ::placeholder {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    
  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
}

