.footer__social { 
    @media screen and (max-width:767px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    
    @media screen and (max-width:1199px) {
        .footer__title {
            text-align: center;
            }
    }
    @media screen and (min-width:1200px) {
        display: block;
        margin-left: 70px;
        
    }
   
    }
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff1a;
    width: 44px;
    height: 44px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--white-text-color);
        background-color: var(--accent-text-color);
    }
}


.social__icon {
    fill: var(--white-text-color);
    width: 20px;
    height: 20px;
}



