.header {
    background: var(--white-text-color);
    border-bottom: 1px solid #ececec;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    letter-spacing: 0.03em;

    color: var(--accent-text-color);
}

.header__logo {
    @media screen and (min-width: 768px) {
        margin-right: 93px;
    }
    
    // @media screen and (min-width: 1200px) {
    //         margin-left: auto;
    //     }
}
.logo__span {
    color: var(--title-text-color);
}


.header__container {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.menu {
    display: none;
    align-items: center;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.menu__item {
    position: relative;
    display: inline-flex;
    align-items: center;

    &:nth-child(n+2) {
            margin-left: 50px;
        }
}



.menu__link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
    
        }
}

.menu__link--curent {
    color: var(--accent-text-color);

    &::after {
            position: absolute;
            left: 0;
            bottom: 0;
    
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: var(--accent-text-color);
        }
}

.connect {
    display: none;
    margin-left: auto;

    
@media screen and (min-width: 768px) {
    display: block;
}
@media screen and (min-width: 1200px) {
    
    display: flex;
    &__item+&__item {
            margin-left: 50px;
        }
}
}
.connect__item{
    @media screen and (min-width: 768px) {
        &:not(:last-child) {
        margin-bottom: 10px; }
        
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
                
        letter-spacing: 0.02em;
    }
        @media screen and (min-width: 1200px) {
            margin-top: 20px;
            
        }
        
}
.connect__link {
    display: flex;
    align-items: center;
    
    color: var(--paragraph-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
        
                  
}


.connect__icon {
    margin-right: 10px;
    fill: currentColor;

        &:hover,
        &:focus {
            fill: var(--accent-text-color);
        }
}

.mob-menu__open-btn {
    background-color:transparent;
    border: none;
    display: block;
    
    margin-left: auto;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: none;
    }
   
}
.mob-menu__open-icon{
    fill: var(--title-text-color);
    &:hover,
        &:focus {
            fill: var(--accent-text-color);
            
        }
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: var(--white-text-color);
    overflow: auto;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 10;
    .mob-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
    }
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }

    
}
.mob-menu__close-btn{
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
        transition-duration: 250ms;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }  

.mob_menu__item {
    margin-bottom: 32px;
    // &:not(:last-child) {
    //         margin-bottom: 32px;
    //     }
}

.mob_menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);
    &:hover,
     &:focus {
        color: var(--accent-text-color);
        transition-duration: 250ms;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }
    
}

.mob_menu__link--curent {
    color: var(--accent-text-color);
}


.connection {
    margin-bottom: 64px;
}


.mob-connect__item {
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mob-connect__link {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

     color: var(--accent-text-color);
}
.mob-connect__link--change-style {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--paragraph-text-color);
}


.mob-soc__item {
    display: inline;
    
}

.mob-soc__link {
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
        
    letter-spacing: 0.02em;
    
    color: var(--accent-text-color);
}
.separator{
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
}
.no-scroll{
    overflow: hidden;
}





