.textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: rgba(117, 117, 117, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    padding: 12px 16px;
    outline: none;

    &:hover,
    &:focus {
        border: 1px solid var(--accent-text-color);
        transition-duration: 250ms;
        transition-property: border-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }
        
}