p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        }
}